input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
html {
    scroll-behavior: smooth;
     overflow-x: hidden;
  }
  

@media (min-width: 1080px){
.background_image{
    background-image: url("./assets/bg-image-home.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-shape{
    background-image: url("./assets/split_background.svg");
    background-position: -10%;
    background-repeat: no-repeat;
    background-size: cover;
}
}

/* nav style */

.nav-open{
    transform: translateX(0vw);
}
.nav-close{
    transform: translateX(50vw);
    margin-right: 999999px;
}
.nav-animation{
    transition: transform 1s ease-in-out;
}

.about_bg_image{
    background-image: url("./assets/about_bg-image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

  